a {
   cursor: pointer;
}

.mapouter {
   position: relative;
   text-align: right;
   height: 100%;
   width: 100%;
}


@media (max-width:760px) {

   .header nav,
   .header button {
      display: none
   }

   .header .hamburg {
      display: block;
      position: absolute;
   }

   .active {
      background: rgb(0, 0, 0);
   }

   .active nav {
      display: flex;
   }

   .active .share {
      margin: auto;
      margin-top: 10px;
      width: 200px;
      display: flex;
      justify-content: center;
   }
}